@page "/About"

<div class="container p-4">
    <b><h3>Sobre nosotros</h3></b>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Team AITLAX</div>
                <div class="card-body">
                    <h5 class="card-title">Huascar Mejía </h5>
                    <p class="card-text">2019-8773</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Team AITLAX</div>
                <div class="card-body">
                    <h5 class="card-title">Kevin Feliz</h5>
                    <p class="card-text">2019-8682</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Team AITLAX</div>
                <div class="card-body">
                    <h5 class="card-title">Jairo Melo</h5>
                    <p class="card-text">2019-8625</p>
                </div>
            </div>
        </div>
    </div>
</div>